/*
 * vim: ft=less
 */

@define-color cc-bg rgba(0, 0, 0, 0.9);
@define-color noti-border-color #ffffff;
@define-color noti-bg rgba(0, 0, 0, 0.9);
@define-color border2 #101726;
@define-color noti-bg2 #1d2021;
@define-color noti-bg-hover #94e2d5;
@define-color noti-bg-focus #d79921;
@define-color noti-close-bg transparent;
@define-color noti-close-bg-hover transparent;
@define-color text #ebdbb2;
@define-color slider #F2F2F2;
@define-color bg-selected rgba(137, 220, 235, 0.5);

.notification-row {
  outline: none;
}

.notification-row:focus,
.notification-row:hover {
  background: @noti-bg-focus;
}

.notification {
  border-radius: 10px;
  border: 2px solid @noti-border-color;
  margin: 6px 12px;

  padding: 0;
}

/* Uncomment to enable specific urgency colors
.low {
  background: yellow;
  padding: 6px;
  border-radius: 12px;
}

.normal {
  background: green;
  padding: 6px;
  border-radius: 12px;
}

.critical {
  background: red;
  padding: 6px;
  border-radius: 12px;
}
*/

.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 10px;
  border: 2px solid transparent;
}

.close-button {
  background: @noti-close-bg;
  color: #ffffff;
  text-shadow: none;
  padding: 0 4px;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 16px;
  box-shadow: none;
}

.close-button:hover {
  box-shadow: none;
  background: @noti-close-bg-hover;
  transition: all 0.15s ease-in-out;
}

.notification-default-action,
.notification-action {
  padding: 0px;
  margin: 0;
  border-radius: 10px;
  box-shadow: none;
  background: @noti-bg;
  
  border: 2px solid transparent;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  
  color: #11111b;
}

.notification-default-action {
  border-radius: 10px;
  color: #11111b;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 10px;
  border-top: none;
  border-right: none;
  color: #11111b;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 10px;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
  border-right: 1px solid @noti-border-color;
  color: #11111b;
}

.image {}

.body-image {
  margin-top: 6px;
  background-color: @text;
  border-radius: 12px;
}

.summary {
  color: @text;
  text-shadow: none;
}

.time {
  color: @text;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  background: transparent;
  color: @text;
  text-shadow: none;
}

.top-action-title {
  color: @text;
  text-shadow: none;
}

.control-center-clear-all {
  color: @text;
  padding: 7px;
  text-shadow: none;
  background: @cc-bg;
  border: 2px solid @noti-border-color;
  box-shadow: none;
  border-radius: 8px;
}

.control-center-clear-all:hover {
  color: #11111b;
  background-color: @noti-border-color;
}

.control-center-dnd {
  border-radius: 20px;
  background: @noti-bg2;
  border: 2px solid @noti-border-color;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @noti-bg;
}

.control-center-dnd slider {
  background: @noti-border-color;
  border-radius: 20px;
  border: 2px solid @border2;
}

.control-center {
  background: @cc-bg;
  margin-bottom: 50;
}

.control-center-list {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}
